{{#resume.basics}}
<div class="container about-container">
    {{!-- <div class="about-header">
        {{> title value="About"}}
    </div> --}}
    {{#if location}}
        {{#location}}
        {{> info-tag text=(formatAddress address city region postalCode) icon="fa-map-marker"}}
        {{/location}}
    {{/if}}

    {{#if birthday}}
        {{> info-tag text=(concat "Born in " this.birthday) icon="fa-calendar"}}
    {{/if}}

    {{#if email}}
        {{> info-tag text=this.email icon="fa-envelope-o" isEmail=true url=this.email}}
    {{/if}}

    {{#if phone}}
        {{> info-tag text=this.phone icon="fa-mobile"}}
    {{/if}}

    {{#if url}}
        {{> info-tag text=(concat 'Website: ' this.url) icon="fa-globe" url=this.url}}
    {{/if}}

    {{#if profiles}}
        {{#each profiles}}
            {{> social}}
        {{/each}}
    {{/if}}
</div>
{{/resume.basics}}
